$allowedColor : #7ac494;
$blockedColor : #b63d44;

.plugin-status {
    position: relative;
    display: inline-block;

    width: 40px;
    height: 20px;
    input[type="checkbox"] { 
        opacity: 0;
        width: 0;
        height: 0;
        &:checked{
          + .plugin-status__slider { background-color: $allowedColor;}
          + .plugin-status__slider:before {
            -webkit-transform: translateX(18px);
            -ms-transform: translateX(18px);
            transform: translateX(18px);
          }
          ~ .plugin-status__title{ color: $allowedColor}
        }
        &:focus {
          + .plugin-status__slider { box-shadow: 0 0 1px $allowedColor;}
        }
    }
    .plugin-status__slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $blockedColor;
      -webkit-transition: .4s;
      transition: .4s;
      &:before {
          position: absolute;
          content: "";
          height: 15px;
          width: 15px;
          left: 4px;
          bottom: 3px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
      }
        /* Rounded sliders */
        &.round {
            border-radius: 34px;
        }
        
        &.round:before {
            border-radius: 50%;
        }
    }
    .plugin-status__title{
      color: $blockedColor;
      font-size: 10px;
      text-align: center;
      display: block;
    }
      
  }  
